@use "@/assets/styles/mixins" as *;
@use "@/assets/styles/variables" as *;

.character-card {
  @include link-reset;

  display: grid;
  gap: 12px;
  width: 180px;
  padding: 12px 8px;
  border: 1px solid $grey-500;
}

.character-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.title {
  margin: 0;
}
