.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  margin: 0;
  font-size: 10px;
  color: rgb(135 135 135);
  text-transform: uppercase;
}

.text {
  width: calc(180px - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: rgb(50 50 50);
  text-transform: capitalize;
  white-space: nowrap;
}
