@use "./variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin link-reset {
  color: $grey-500;
  text-decoration: none;
  cursor: pointer;
}
