@use "@/assets/styles/mixins" as *;
@use "@/assets/styles/variables" as *;

.card {
  @include link-reset;


  border: 1px solid $grey-500;

  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.title {
  margin: 0;
}
