.card {
  display: block;
  border: 1px solid grey;
  // border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
  // color: white
}

.title {
  margin: 0;
}
