@use '@/assets/styles/mixins' as *;
@use '@/assets/styles/variables' as *;

.card {
  @include link-reset;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 8px 12px;
  border: 1px solid $grey-500;
}

.title {
  margin: 0;
}
